.chat-entry-container {
    padding: .5rem 0rem .5rem 0rem;
    display: flex;
    width: 100%;
    opacity: 0;

}
.sent-container {
    justify-content: right;
}
.recv-container {
    justify-content: left;
}
.chat-entry-wrapper {
    display: flex;
    align-items: center;
}
.chat-entry-metadata {
    color: #ccc;
    margin: 1rem;
}
.chat-entry-bubble {
    padding: 1rem 2rem 1rem 2rem;
}
.chat-bubble-sent {
    background-color: #666;
    color: #fff;
    box-shadow: rgba(10,10,10, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 1rem 1rem 0rem 1rem;
}
.chat-bubble-recv {
    background-color: #fff;
    color: #666;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 1rem 1rem 1rem 0rem;
}
.chat-entry-text {
    font-size: 1rem;
}

#loader-container {
    padding: 2rem 2rem 1rem 2rem;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin-left: 2rem;
    width: 15px;
    aspect-ratio: 1;
    background: #666;
    border-radius: 50%;
    animation: l6 .5s infinite linear alternate;
}
@keyframes l6 {
    0%  {box-shadow: 15px 0,-25px 0 #666}
    50% {box-shadow: 15px 0,-15px 0 #666}
    100%{box-shadow: 25px 0,-15px 0 #666}
}

.clear-loader {
    animation-name: fadeInAnimation;
    animation-duration: .333s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  from {opacity: 1;}
  to {opacity: 0;}
}

.bring-in-textbox {
    animation-name: bringInTextboxAnimation;
    animation-duration: .333s;
    animation-fill-mode: forwards;
}

@keyframes bringInTextboxAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}